.tile_container{
    margin-left: 3rem;
    margin-top: 1rem;
    color: white;
     
}

.tiles{
    display: flex;
    padding:.5rem;
    overflow-x: scroll;
    overflow-y: hidden;

}

.tile{
    max-height: 200px;
    margin-right: 10px;
    cursor: pointer;
}
.tiles::-webkit-scrollbar{
    display: none;
}   

.smallTile{
    max-height: 140px; 
    margin-right: 10px;
    cursor: pointer;
}
.tile:hover{
    transform: scale(1.1) ;
}
.smallTile:hover{
    transform: scale(1.1) ;
}